header {
    margin-top: -2.3em;
    //background-color: #303030;
    min-height: 10rem;
}
  
header h1 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 3.4rem;
  text-align: center;
  padding-top: 2rem;
  cursor: default;
}